body
{
	width: 960px;	
	margin: auto;
	color: white;
	background-color:black;
}

#header
{
	width: 698px;
	height: 116px;
	margin: 0 auto;
	background-image: url('../images/header.png');
}

#slogan
{
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
}

#search
{
	font-family: Arial;
	font-weight: bold;
	margin-top: 60px;
	margin-left: 50px;
}

#input_search
{
	color: white;
	width: 250px;
	border-width: 1px;
	border-color: white;
	background-color: black;
}

#input_search:focus, #input_search:hover
{
	background-color: #464646;
}	

#list_fail
{
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 110px;
}

#list_fail .tab_list
{
    border-collapse: collapse;
}

#list_fail .tab_list td 
{
    padding: 4px;
	border: 1px solid white;
}

#list_fail .error_not_found
{
	color:red;
	font-weight: bold;
	margin-bottom: 15px;
}

#list_fail a
{
	color: gray;
}

#coverCont.left {
  left: 20px;
  right: initial;
}

#coverCont {
  position: fixed;
  right: 20px;
  left: initial;
  top: 20px;
  max-width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
}

#coverCont img {
  max-width: 100%;
}

#covers img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}